<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/consultancy.jpg" alt="Consultancy"></img>

	<h1>Consultancy</h1>

	<p>At The Bounds of Java, we offer expert consultancy services. From minor refactors to performance bottleneck detection, architecture and design issues, code reusability and ease of maintenance, or even when launching of a whole new project or product, we aim to help companies accomplish their goals.</p>

	<p>We have experience with different development and design methodologies, e.g. Agile, Kanban, Test-driven development (TDD), Domain-driven design (DDD), Behavior-driven design (BDD), as well as with more traditional waterfall approaches. No matter what the methodology is, at The Bounds of Java <strong>we focus on the technical aspects</strong> of every solution.</p>

	<p>Here's the list of technologies, features and frameworks we rock on:</p>

	<br />
	<p>Please send an email to <a href="mailto:consultancy@boundsofjava.com" target="_blank">consultancy@boundsofjava.com</a> with your specific inquiry.</p>
  </div>
</div>

<br />
<br />
<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/jobs">Jobs</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/training">Trainings</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/courses">Courses</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
