<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/consultancy.jpg" alt="Consultancy"></img>

	<h1>Consultancy</h1>

	<p>At The Bounds of Java, we offer expert consultancy services. From minor refactors to performance bottleneck detection, architecture and design issues, code reusability and ease of maintenance, or even when launching of a whole new project or product, we aim to help companies accomplish their goals.</p>

	<p>We have experience with different development and design methodologies, e.g. Agile, Kanban, Test-driven development (TDD), Domain-driven design (DDD), Behavior-driven design (BDD), as well as with more traditional waterfall approaches. No matter what the methodology is, at The Bounds of Java <strong>we focus on the technical aspects</strong> of every solution.</p>

	<p>Besides Java, we are experts in the following topics:</p>

	<div class="container-fluid">
		<div class="row small">
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Design patterns</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Functional paradigm</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Streams &amp; Lambdas</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Servlets</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Spring</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Elasticsearch</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Cassandra</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Couchbase</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Maven</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Hazelcast</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Jackson JSON library</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Guava library</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Hibernate</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">SQL</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">JDBC</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Data structures</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Algorithms</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Software architecture</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">RESTful APIs</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">SOA</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Microservices</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Cloud computing</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Concurrency</div>
			<div class="tiny-spacing col-md-3 col-sm-4 col-xs-6">Distributed systems</div>
		</div>
	</div>

	<br />
	<p>Please send an email to <a href="mailto:consultancy@boundsofjava.com" target="_blank">consultancy@boundsofjava.com</a> with your specific inquiry.</p>
  </div>
</div>

<br />
<br />
<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/jobs">Jobs</a></li>
  <li>&#10022;</li>
  <li><a data-ng-href="/services/training">Trainings</a></li>
  <li>&#10022;</li>
  <li><a data-ng-href="/services/courses">Courses</a></li>
  <li>&#10022;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
