<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/consultancy.jpg" alt="Consultancy"></img>

	<h1>Consultancy</h1>

	<p>At The Bounds of Java, we offer expert consultancy services. From minor refactors to performance bottleneck detection, architecture and design issues, code reusability and ease of maintenance, or even when launching a whole new project or product, we aim to help companies accomplish their goals.</p>

	<p>At The Bounds of Java <strong>we focus on the technical aspects</strong> of every solution. Nonetheless, we also have deep knowledge of the whole software development process. We understand what planning, architecture, analysis, design, testing, deployment and maintenance is all about. We work as consultants, but above all, we are developers.</p>

	<p>Besides Java, we are experts in the following topics:</p>

	<div class="container-fluid">
		<div class="row small">
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Design patterns</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Functional paradigm</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Streams &amp; Lambdas</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Servlets</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Spring</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Elasticsearch</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Cassandra</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Couchbase</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Maven</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Hazelcast</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Jackson JSON library</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Guava library</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Hibernate</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">SQL</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">JDBC</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Data structures</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Algorithms</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Software architecture</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">RESTful APIs</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">SOA</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Microservices</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Cloud computing</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Concurrency</div>
			<div class="tiny-spacing col-lg-3 col-md-4 col-sm-6 col-xs-12">Distributed systems</div>
		</div>
	</div>

	<br />
	<p>Please send an email to <a href="mailto:consultancy@boundsofjava.com" target="_blank">consultancy@boundsofjava.com</a> with your specific inquiry.</p>
  </div>
</div>

<br />
<br />

<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/jobs">Jobs</a></li>
  <li>&#10022;</li>
  <li><a data-ng-href="/services/training">Trainings</a></li>
  <li>&#10022;</li>
  <li><a data-ng-href="/services/courses">Courses</a></li>
  <li>&#10022;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
