<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/courses.jpg" alt="Courses"></img>
	<h1>Courses</h1>
	<p>At The Bounds of Java, we offer several courses targeted for audiences with different level of seniority.</p>
	<p>Please send an email to <a href="mailto:courses@boundsofjava.com" target="_blank">courses@boundsofjava.com</a> with your specific inquiry.</p>
  </div>
</div>

<br />
<br />
<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/jobs">Jobs</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/training">Training</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/consultancy">Consultancy</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
