<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/courses.jpg" alt="Courses"></img>
	
	<h1>Courses</h1>
	
	<p>Courses comprise several patterns, techniques, frameworks and technologies. From introductory overviews to highly advanced topics, a course is based on a single premise: <strong>developers will always learn something new</strong>. No matter how much or how little a developer knows about Java, at The Bounds of Java we have courses for everyone.</p>

	<p>Courses are oriented and structured in different ways, depending on the contents and depth level of the topics being presented. Despite their heterogeneous nature, they all have the same benefits:
  		<ul>
  			<li>Modern, relevant and up-to-date content</li>
  			<li>Real-world examples that show theoretical concepts in action</li>
  			<li>Fluent and interactive, with workshops and practical exercises</li>
  			<li>Paced according to the audience</li>
  			<li>Flexible and adaptable, as per the needs of every specific client</li>
  		</ul>
  	</p>

	<div class="highlighted-button-container text-center spacing">
	  <a type="button" href="#" class="btn btn-lg btn-primary">
        <small><em>No courses available yet.</em></small><br />
        <small>In the future, all courses will be listed and summarized in this section.</small>
      </a>
	</div>

	<p>Courses are targeted for small teams and are conducted either in English or in Spanish, depending on the audience. They are delivered in-house, which allows for discussions that would otherwise be constrained by confidential disclosure agreements.</p>

	<br />
	<p>Please send an email to <a href="mailto:courses@boundsofjava.com" target="_blank">courses@boundsofjava.com</a> with your specific inquiry.</p>

  </div>
</div>

<br />
<br />
<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/jobs">Jobs</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/training">Training</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/consultancy">Consultancy</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
