<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/jobs.jpg" alt="Jobs"></img>
  	<h1>Jobs</h1>
  	
  	<p>This is a place to discuss about what developers do for a living and what companies do to not perish.</p>

  	<p>Here I share my insights regarding software industry issues such as work methodologies, management, entrepreneurship, communication, ethics, technology, professional growth, careers, etc. I write from my experience, so every opinion and statement (in fact, every word) is far from being objective.</p>

  	<p>I also plan to talk about hiring practices, interview questions and candidate selection processes, and will provide examples of good and bad approaches each time.</p>

	<div class="highlighted-button-container text-center spacing">
	  <a type="button" href="#" class="btn btn-lg btn-primary"><small>Proceed to the articles</small></a>
	</div>

	<p>I invite you to participate in the discussion, either by commenting on the articles directly or by sending an email to <a href="mailto:jobs@boundsofjava.com" target="_blank">jobs@boundsofjava.com</a>.</p>
  </div>
</div>

<br />
<br />
<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/training">Training</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/courses">Courses</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/consultancy">Consultancy</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
