<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/training.jpg" alt="Training"></img>
  	
  	<h1>In-house trainings</h1>

  	<p>An in-house training consists of tutored lessons with questions, exercises and problems that will help improve your skills, with a strong <strong>focus on practice</strong>.</p>

  	<p>The main reason for attending a training is that you will become quick, fluent and versatile in the technology, framework or technique being trained. Although you might be introduced to new theoretical concepts, the whole point of a training is to learn by practice.</p>

  	<p>All in-house trainings are structured the same way:
  		<ul>
  			<li>Introduction</li>
  			<li>Warmup</li>
  			<li>Questions, exercises and problems</li>
  			<li>Answers</li>
  			<li>Consolidation</li>
  			<li>Conclusion / Final comments</li>
  		</ul>
  	</p>

	<div class="highlighted-button-container text-center spacing">
	  <a type="button" href="#" class="btn btn-lg btn-primary"><small>For a complete example, download <em>&ldquo;Training: Introducing Java 8 Streams&rdquo;</em></small></a>
	</div>

	<p>In-house trainings are targeted for developers with different seniority levels and can be attended either alone or by small teams. I conduct them both in English and Spanish.</p>

  	<p>Please send an email to <a href="mailto:training@boundsofjava.com" target="_blank">training@boundsofjava.com</a> with your enquiry.</p>
</div>

<br />
<a data-ng-href="/services">Back to Services</a>
