<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/training.jpg" alt="Training"></img>
  	
  	<h1>Training</h1>

  	<p>A training consists of tutored lessons with questions, exercises and problems that will help developers improve their skills, with a <strong>strong focus on practice</strong>.</p>

  	<p>The main reason for attending a training is that developers will become quick, fluent and versatile in the technology, framework or technique being trained. Although new theoretical concepts might be introduced, the whole point of a training is to learn by practice.</p>

  	<p>All trainings are structured the same way:
  		<ul>
  			<li>Introduction</li>
  			<li>Warmup</li>
  			<li>Questions, exercises and problems</li>
  			<li>Answers</li>
  			<li>Consolidation</li>
  			<li>Conclusion / Final comments</li>
  		</ul>
  	</p>

	<div class="highlighted-button-container text-center spacing">
	  <a type="button" href="#" class="btn btn-lg btn-primary">
      <small><em>No trainings available yet.</em></small><br />
      <small>In the future, all trainings will be listed and summarized in this section.</small>
    </a>
	</div>

	<p>Trainings are targeted for small teams and are conducted either in English or in Spanish, depending on the audience. They are delivered in-house, which allows for discussions that would otherwise be constrained by confidential disclosure agreements.</p>

  <p>Please send an email to <a href="mailto:training@boundsofjava.com" target="_blank">training@boundsofjava.com</a> with your specific inquiry.</p>
</div>

<br />
<br />
<ul class="list-inline services-navbar">
  <li><a data-ng-href="/services/jobs">Jobs</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/courses">Courses</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services/consultancy">Consultancy</a></li>
  <li>&diams;</li>
  <li><a data-ng-href="/services">Services</a></li>
</ul>
