<div class="content-heading">
  	<h1>Training</h1>
  	<p>A training consists of questions, exercises and problems that will help you improve your skills, with a strong <strong>focus on practice</strong>.</p>

  	<p>Learning new stuff is not the point of a training. Instead, you will become quick, fluent and versatile in the technology, framework or technique being trained.</p>

  	<p>All trainings are structured the same way:
  		<ul>
  			<li>Introduction</li>
  			<li>Warmup</li>
  			<li>Questions, exercises and problems</li>
  			<li>Answers</li>
  			<li>Consolidation</li>
  			<li>Final comments</li>
  		</ul>
  	</p>

  	<p><a href="#">Download this sample training</a> for a complete example.</p>

	<p>Trainings are targeted for developers with different seniority levels and can be attended either alone or by small teams. Many of them are available online and I personally conduct them at the <a href="http://www.ccj.edu.uy/en/quienes-somos/index.html" target="_blank">Jacksonville Training Center</a>, in Montevideo, Uruguay, either in English or Spanish. I also offer my trainings in-house.</p>

  	<p>Please send an email to <a href="mailto:training@boundsofjava.com" target="_blank">training@boundsofjava.com</a> to learn more.</p>
</div>
