html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  width: 100%; 
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background: #262626;
}

.browsehappy {
  margin: 106px 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  text-align: center; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

a, a:hover, a:focus, a:active, a img {
  outline: none;
  text-decoration: none;
}

a {
  color: #3070c0;
}

a:hover, a:focus {
  color: #fcb50f;
}

a:active {
  color: #866308;
}

img {
  border: 0;
}

hr {
  border: 0;
  height: 3px;
  min-height: 3px;
  margin: 0;
  background-image: linear-gradient(to right, rgba(160, 160, 160, 0), rgba(160, 160, 160, 0.75), rgba(160, 160, 160, 0));
}

hr.from-left {
  background-image: linear-gradient(to right, rgba(160, 160, 160, 0.75), rgba(160, 160, 160, 0.50), rgba(160, 160, 160, 0));
}

hr.from-right {
  background-image: linear-gradient(to right, rgba(160, 160, 160, 0), rgba(160, 160, 160, 0.50), rgba(160, 160, 160, 0.75));
}

.disabled { 
  opacity: 0.5;
}

.disabled-link {
  cursor: default; 
  color: #3070c0;
}

.tiny-spacing {
  margin-top: 4px;
  margin-bottom: 4px;
}

.little-spacing {
  margin-top: 8px;
  margin-bottom: 8px;
}

.medium-spacing {
  margin-top: 14px;
  margin-bottom: 14px;
}

.spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.double-spacing {
  margin-top: 28px;
  margin-bottom: 28px;
}

.x-double-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.top-spacing {
  margin-top: 20px;
}

.top-half-spacing {
  margin-top: 10px;
}

.content-wrapper {
  margin-top: 99px;
  padding: 8px 10px 10px 10px;
  width: 100%;
  background: #262626; 
  color: #a0a0a0;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 99px;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 0;
  padding-bottom: 15px;
  color: #555;
  background-color: rgba(0, 0, 0, 0.75); 
  font-size: 0.8rem;
}

.img-left {
  margin: 10px 10px 5px 0; 
  border: 8px solid #e8e8e8;
}

.img-center-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.img-center-container img {
  max-width: 100%;
  height: auto;
  margin: 5px 0 15px 0; 
  border: 8px solid #e8e8e8;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-inverse {
  background-color: #070f0c;
}

.navbar-opaque {
  background-color: #070f0c !important;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-brand {
  padding: 16px; 
  margin: 0; 
}

.navbar-header {
  min-height: 96px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 6px;
  margin-bottom: 10px;
}

.content-heading h1, h2, h3, h4, h5, h6 {
  color: #dedede;
}

.list-group {
  border: 8px solid #555;
  border-radius: 9px;
}

.transparent-list-group {
  border: 8px solid transparent;
}

a.list-group-item,
div.list-group-item {
  border: 1px dotted #555;
}

a.list-group-item.list-group-item-even,
div.list-group-item.list-group-item-even {
  background-color: rgba(38, 38, 38, 0.75);
}

a.list-group-item.list-group-item-odd,
div.list-group-item.list-group-item-odd {
  background-color: rgba(27, 27, 27, 0.75);
}

a.list-group-item:hover,
a.list-group-item:focus {
  background-color: rgba(15, 15, 15, 0.75);
  border-color: #555;
}

a.list-group-item.list-group-item-even .list-group-item-heading,
div.list-group-item.list-group-item-even .list-group-item-heading {
  color: #0aa2ff;
  margin: 7px 7px 12px 0;
}

a.list-group-item.list-group-item-odd .list-group-item-heading,
div.list-group-item.list-group-item-odd .list-group-item-heading {
  color: #0aa2c7;
  margin: 7px 7px 12px 0;
}

a.list-group-item:hover .list-group-item-heading, 
a.list-group-item:focus .list-group-item-heading {
  color: #fcb50f;
  margin: 7px 7px 12px 0;
}

a.list-group-item .list-group-item-text,
div.list-group-item .list-group-item-text
{
  color: #a0a0a0;
}

a.list-group-item:hover .list-group-item-text,
a.list-group-item:focus .list-group-item-text
{
  color: #b3b3b3;
}

a.list-group-item .list-group-item-date {
  padding-bottom: 8px;
}

a.list-group-item:hover .list-group-item-date,
a.list-group-item:focus .list-group-item-date
{
  color: #808080;
}

.badge {
  margin-left: 12px; 
}

.cleared {
  clear: both;
}

.subscription-form {
  width: 70%;
  min-width: 316px;
}

.highlighted-button-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-primary {
  color: #ccc;
  border-style: none;
  background-color: rgba(46, 109, 146, 0.5);
  white-space: normal;
}

.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 200px;
}

.alert-fixed {
  position: fixed; 
  top: 116px; 
  right: 10px; 
  width: 300px;
  z-index: 9999; 
  border-radius: 4px;
}

.services-navbar {
  width: 100%; 
  text-align: center; 
  font-size: small;
  color: #555;
}

.newsletter-date-author {
  color: #666; 
  margin: -4px 0 23px 0; 
}

.separator {
  width: 100%; 
  text-align: center; 
  font-size: small;
  color: #445566;
  word-spacing: 14px;
}

.code {
  font-family: monospace;
  color: #c0c0c0;
  font-weight: bold;
  font-size: 1rem;
  background: transparent;
}

[hljs] {
  padding: 0;
  margin: 0 7px 17px 7px;
  border: 2px solid #444;
  border-radius: 9px;
  background: transparent;
}

[hljs] pre {
  padding: 0;
  margin: 0;
  border: 0;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  background: transparent;
}

[hljs] code {
  padding: 7px 14px 7px 14px;
  border: 0;
  margin: 0;
  background-color: rgba(34, 34, 34, 0.75);
  overflow: auto;
  white-space: pre;
  font-size: 0.875rem;
}

[hljs] code span {
  white-space: pre;
}

.newsletter-home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newsletter-home-container {
  border: 8px solid #555;
  border-radius: 9px;
}

.newsletter-home-container .newsletter-home-container-content {
  background-color: rgba(34, 34, 34, 0.75);
  padding: 20px;
  border: 1px dotted #555;
}

.newsletter-home-container .newsletter-home-container-content small {
  color: #555;
}

.staff-img {
  border-radius: 50%;
  margin: 16px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.75);
  padding: 0;
  border: 0;
  float: left;
  width: 64px;
  height: 64px;
}

@media (max-width: 767.999999px) {

 .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) {

  html {
    font-size: 19px;
  }

  .container {
    width: 80%;
    min-width: 730px;
    padding: 0;
  }

  .content-wrapper {
    background: rgba(0, 0, 0, 0.5); 
  }

  .navbar-collapse {
    min-height: 96px;
  }

  .navbar-spacing {
    min-height: 25px;
  }

  .navbar-inverse {
    background-color: rgba(7, 15, 12, 0.75);
  }

  .navbar-inverse .navbar-nav li  {
    padding: 3px 12px 3px 12px;
    margin: 30px 1px 29px 1px;
  }

  #main-navbar a {
    padding: 5px 0 5px;
    background: transparent;
  }

  #main-navbar a {
    position: relative;
    color: #a0a0a0;
  }

  #main-navbar a::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    width: 0;
    height: 0.1rem;
    background-color: #fcb50f;
    box-shadow: 0 0 0.5rem #000;
    content: '';
    transition: width 0.3s;
  }

  #main-navbar a:focus {
    color: #dedede;
  }

  #main-navbar a:hover {
    color: #fcb50f;
    text-shadow: 0 0 0.5rem #000;
  }

  #main-navbar a:hover::after {
    width: 100%;
  }

  #main-navbar .active a {
    color: #fcb50f;
    text-shadow: 0 0 0.5rem #000;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {

  body {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {

  body {
    font-size: 21px;
  }
}

@media (min-width: 1600px) {

  body {
    font-size: 22px;
  }
}
