<p>Welcome to the second issue of The Bounds of Java Newsletter, written after a wonderful winter vacation with the whole family. This year, we went to Bariloche, a lovely city located in the south-west of Argentina.</p>

<div class="img-center-container">
	<img data-ng-src="{{path}}/bariloche.jpg" alt="Bariloche"></img>
</div>

<p>According to Wikipedia, <a href="https://en.wikipedia.org/wiki/Bariloche" target="_blank">San Carlos de Bariloche</a> is a city in the province of R&iacute;o Negro, Argentina, situated in the foothills of the Andes mountain range on the southern shores of Nahuel Huapi Lake. After development of extensive public works and Alpine-styled architecture, the city emerged in the 1930s and 1940s as a major tourism centre with skiing, trekking and mountaineering facilities. In addition, it has numerous restaurants, caf&eacute;s, and chocolate shops.</p>

<p>I must add that it has quite a lot of independent, top-quality breweries as well. We all spent a great time there, especially the kids, who won't forget this holiday for the rest of their lives.</p>
