<div class="newsletter-home-wrapper x-double-spacing">
  <div class="newsletter-home-container">
    <div class="newsletter-home-container-content">
      <h1>Join The Bounds of Java Newsletter</h1>
      <p>and start receiving new posts directly in your inbox</p>
      <div class="highlighted-button-container text-center">
        <a type="button" data-ng-href="/newsletter/subscription" class="btn btn-lg btn-primary">SUBSCRIBE</a>
      </div>
      <small>Your email and personal data will be kept private and won't be shared</small>
    </div>
  </div>
</div>
