<div class="newsletter-home-wrapper x-double-spacing">
  <div class="newsletter-home-container">
    <div class="newsletter-home-container-content">
      <h2>Join The Bounds of Java Newsletter</h2>
      <p>and start receiving new posts directly in your inbox</p>
      <div class="highlighted-button-container text-center">
        <a type="button" data-ng-href="/newsletter/subscription" class="btn btn-lg btn-primary">SUBSCRIBE</a>
      </div>
      <small><small>Your email and personal data will be kept private and won't be shared</small></small>
    </div>
  </div>
</div>
