<div class="paragraphs" data-ng-cloak>

	<div class="content-heading">
		
		<h1>Issue not found</h1>
		
		<p>
			The issue you've requested does not exist. Please check the <a data-ng-href="/newsletter">Newsletter index</a> to find your read. You might also want to <a data-ng-href="/newsletter/subscription">subscribe</a>.
		</p>
	
	</div>

	<div data-ng-include="'views/news/news.html'" data-ng-cloak></div>

	<p>
		<small>
			You've reached this page because the browser has attempted to navigate to a nonexistent route. Maybe a broken link took you here. If this is the case, I'd be grateful if you could <a href="//boundsofjava.com/about" target="_blank">contact me</a> to report it.
		</small>
	</p>

</div>
