<div class="img-center-container">
	<img data-ng-src="/views/blog/0001-why.jpg" alt="Why?"></img>
</div>
<br />

<h3><em>Why the name?</em></h3>

<p>I was advised against choosing <em>&ldquo;The Bounds of Java&rdquo;</em> as a name for this website. Go for <em>&ldquo;Java's Edge&rdquo;</em> instead, I was told. Choose something that sounds more techie, the word <em>&ldquo;bounds&rdquo;</em> sucks. Why don't you remove the words <em>&ldquo;The&rdquo;</em> and <em>&ldquo;of&rdquo;</em>? And so on...</p>

<p>But I liked <em>&ldquo;The Bounds of Java&rdquo;</em> so much that, even though some points against it were valid, I went for it anyway. Not because I'm stubborn, but because I had a couple of valid points too. First of all, one of my purposes with this website is to explore the bounds of the Java language. What can we as programmers do with Java and what's impossible? What if we push it to its limits? Are there any ways to break them, or at least, to bypass them? Maybe there's still room in Java to discover something new. That's what I thought one day, when I was lying under my backyard's pepper tree. Let's be curious, I said to myself, and let's see what happens when we get close to the bounds of Java.</p> 

<p>Besides, <em>&ldquo;bounds&rdquo;</em> is a well-known word for every programmer. Who hasn't experienced an <span class="code"><a href="https://docs.oracle.com/javase/8/docs/api/java/lang/IndexOutOfBoundsException.html" target="_blank">IndexOutOfBoundsException</a></span> sometime? What programmer hasn't dealt with an array and a wild, irrepressible index that insisted on taking values out of range? Given every programmer knows what a bound is, why not choosing <em>&ldquo;The Bounds of Java&rdquo;</em> as a name, then? After all, this is a website for programmers.</p>
<br />

<h3><em>Why this website?</em></h3>

<p>I don't think I have a final answer to this question yet... I can only start to outline what will become an answer some day.</p>

<p>Part of it is written in the <a data-ng-href="/about" target="_blank">About section</a>, near the end, where it says that after many years of being a programmer and learning software, I realized it was time to start sharing all I had learned. In a sense, <em>&ldquo;The Bounds of Java&rdquo;</em> is driven by my passion to share what I know and by my desire to keep on learning new stuff. This time, though, I didn't want to do it alone or in the context of a job at a software company. Instead, I decided to throw myself into the wild Internet, where exposure is maximum and feedback comes from all over the world.</p>

<p><em>The Bounds of Java</em> is also a challenge. It's about doing what I like without boundaries. It's a way to test my own personal bounds and expand them to unforeseen lands. And finally, it's an invitation to every software developer that wants to join this quest, no matter where the end is.</p>
