<div class="img-center-container">
	<img data-ng-src="/views/blog/0002-about-design-patterns.jpg" alt="Abusing design patterns?"></img>
</div>
<br />

<h3><em>Example: the state pattern</em></h3>

<p>Say you have the <span class="code">OrderState</span> enum and you do different things on different parts of your code, depending on the value of the enum:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
enum OrderState {
    NEW, APPROVED, CANCELLED;
}
<!-- htmlmin:ignore --></div>

<p>This is just an example. It really doesn't mattter what kind of orders or the context. Here an order is something that changes its state upon some event, i.e. when the order is created its state is <span class="code">NEW</span>, and when a manager reviews it and says everything is OK, its state is <span class="code">APPROVED</span>.</p>

<p>Now, imagine we need to create a sale for an order. We're coding a method that receives the order and a credit card number and we need to do different things, depending on the state of the order. If the state is <span class="code">CANCELLED</span>, we need to abort the creation of the sale and throw an exception. If the state is <span class="code">APPROVED</span>, we charge the given credit card with the total amount. And if the state is <span class="code">NEW</span>, we need to send an email to the manager with the order, so that it is reviewed as soon as possible.</p>

<p>In code, the structure of the <span class="code">createSaleFromOrder</span> method would be as follows:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
void createSaleFromOrder(Order order, String cardNumber) {
	
	OrderState state = order.getState();

	switch (state) {
	case CANCELLED:
		// abort sale, send error message, throw exception
		// ...
		break;
	case APPROVED:
		BigDecimal total = order.getTotal();
		// charge cardNumber with total, store created sale, adjust stock, etc
		// ...
		break;
	case NEW:
		// send email to manager with order for review
		// ...
		break;
	default:
		throw new IllegalArgumentException("order.state");
	}
}
<!-- htmlmin:ignore --></div>

<p>This seems fine, until we're told to code another method that depends on the order state, i.e. <span class="code">cancelOrder</span>, which will cancel the given order if its state is <span class="code">APPROVED</span> or <span class="code">NEW</span>, but will fail with an exception if its state is <span class="code">CANCELLED</span>.</p>

<p>In code, the structure of the <span class="code">cancelOrder</span> method would be as follows:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
void cancelOrder(Order order) {

	OrderState state = order.getState();

	switch (state) {
	case CANCELLED:
		// illegal state, throw exception
		// ...
		break;
	case APPROVED:
	case NEW:
		// do some work to cancel given order
		// ...
		// change order state
		order.setState(OrderState.CANCELLING);
		break;
	default:
		throw new IllegalArgumentException("order.state");
	}
}
<!-- htmlmin:ignore --></div>

<p>Ugh... another <span class="code">switch</span> statement. What will happen when a new method that depends on the order state needs to be created? Most likely, we'll need to add a new <span class="code">switch</span> statement. At the end, there will be many <span class="code">switch</span> statements scattered over the code, in different methods and classes. This is bad, because we will have logic that depends on the order state all over the code. Our code will become hard to maintain, since it will be more difficult to find where the state of the order is changed.</p>

<p>What is worse, we might need to define a new state for the order, as per requirements. One example would be when the manager does not approve the order. In this case, we would need to introduce the <span class="code">OrderState.REJECTED</span> state. And we would need to add new behavior to handle this new state in each one of our previous operations, that were scattered all over the code...</p>

<p>So many years ago, <a href="https://en.wikipedia.org/wiki/Design_Patterns" target="_blank">four clever guys</a> noticed this recurring problem and found a nice solution: the <a href="https://en.wikipedia.org/wiki/State_pattern" target="_blank">state pattern</a>. Here's our example updated, using this pattern:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
// Class representing an order, aka the 'context' in state pattern's jargon
public class Order {
	
	// When an order is created, its initial state is NEW
	private OrderState state = new OrderStateNew();

    public void createSale(String cardNumber) {
        this.state.createSale(this, cardNumber);
    }

    public void cancel() {
        this.state.cancel(this);
    }

    // Changing the order state shouldn't be a public operation
    void setState(OrderState state) {
        this.state = state;
    }
}
<!-- htmlmin:ignore --></div>

<p>This is the <span class="code">Order</span> class, which holds state, and we call it the <em>context</em>.</p>

<p>Now the class that represents the <em>state</em> of the order:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
// Order state base class, not visible outside the package
// Defines operations that are dependent on the order state
abstract class OrderState {

	abstract void createSale(Order order, String cardNumber);

	abstract void cancel(Order order);
}
<!-- htmlmin:ignore --></div>

<p>It's the base class of all possible states for the order, and its purpose is to define all the operations that depend on the order state.</p>

<p>One of such states is <span class="code">CANCELLED</span>:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
class OrderStateCancelled extends OrderState {

    @Override
    void createSale(Order order, String cardNumber) {
		// abort sale, send error message, throw exception
		// ...
    }	

    @Override
    void cancel(Order order) {
		// illegal state, throw exception
		// ...
    }
}
<!-- htmlmin:ignore --></div>

<p>Here the operations are implemented, but they will be valid only when the state of the order is <span class="code">CANCELLED</span>.</p>

<p>Here's the class for the <span class="code">APPROVED</span> state:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
class OrderStateApproved extends OrderState {

    @Override
    void createSale(Order order, String cardNumber) {
		BigDecimal total = order.getTotal();
		// charge cardNumber with total, store created sale, adjust stock, etc
		// ...
    }	

    @Override
    void cancel(Order order) {
		// do some work to cancel given order
		// ...
		// change order state
		order.setState(new OrderStateCancelled());
    }
}
<!-- htmlmin:ignore --></div>

<p>Same comment here, this implementation will be valid only when the state of the order is <span class="code">APPROVED</span>.</p>

<p>Finally, we're missing the class that represents the <span class="code">NEW</span> state:</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
class OrderStateNew extends OrderState {

    @Override
    void createSale(Order order, String cardNumber) {
		// send email to manager with order for review
		// ...
    }	

    @Override
    void cancel(Order order) {
		// do some work to cancel given order
		// ...
		// change order state
		order.setState(new OrderStateCancelled());
    }
}
<!-- htmlmin:ignore --></div>

<p>This is not a final solution. It's just a sketch to show the pattern. There are operations unimplemented, such as <span class="code">approve</span> or <span class="code">reject</span>, and at least one missing state: <span class="code">REJECTED</span>. But the idea is clear: move state-dependent behavior to classes that represent all possible states of the order, and handle state transitions via the <span class="code">setState</span> method of the <span class="code">Order</span> class, from within the appropriate operations.</p>

<p>This is a really nice pattern. It allows for new states to be easily introduced (just create a new class for the new state) and eases maintenance a lot (whenever a modification needs to be done, all code is in the state classes). This pattern is definitely one of the most useful ones.</p>

<div class="double-spacing"></div>

<h3><em>But...</em></h3>

<p>...despite being so useful, it's also one of the least used ones. And when used, chances are that it wasn't needed in the first place, or that it's being so overused that final code is very hard to understand, hence very hard to maintain. Even if there's a real need to use it and you are certain that you'll correctly apply it, you should ask yourself a few questions before applying this or any other pattern:</p>

<ul>
	<li>Is introducing a pattern going to be considered valuable by the rest of the team?</li>
	<li>Does the company where you work value good software design patterns and principles?</li>
	<li>Does the company where you work value code and design quality?</li>
	<li>If you introduce a pattern, will you go aginst the tide?</li>
	<li>What about time? Are you recognised only by how fast you are at completing assigned tasks? In this case, you might complete them as soon as possible, without taking code maintainability, extensibility and reusability too much into consideration. After all, someone will surely improve it later. (This philosophy seems to be very common in several companies)...</li>
</ul>
	
<p>I'm not saying that you shouldn't try to apply good software design patterns and principles, or that you shouldn't put up a fight at your work to try to improve the whole software development process there. All I'm saying is that you should balance the pros and cons, and finally decide whether you'll use your time to introduce a pattern or not.</p>
