<h2><em>More combinators</em></h2>

<p>
    In the previous part of this series, I introduced the <em>Before</em>, <em>After</em> and <em>Around</em> combinators. Let's go on and show more combinators and how we can use them.
</p>

<div class="separator spacing">&#10022; &#10022; &#10022;</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <small>
            Disclaimer: the combinators introduced below are inspired and based on the excellent <a href="https://github.com/raganwald/method-combinators" target="_blank">Method Combinators</a> library written by <a href="//braythwayt.com" target="_blank">Reginald &laquo;raganwald&raquo; Braithwaite</a>. Please check his page and work for further reference.
        </small>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="separator spacing">&#10022; &#10022; &#10022;</div>


<h3><em>Provided</em></h3>

<p>
    This is one of the most useful combinators I've ever seen. Look at the <span class="code">create</span> method carefully:
</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
@FunctionalInterface
public interface Provided&lt;T, R&gt;
        extends Function&lt;Predicate&lt;T&gt;,
                Function&lt;Function&lt;T, R&gt;,
                Function&lt;T, R&gt;&gt;&gt; {

    static &lt;T, R&gt; Provided&lt;T, R&gt; create() {
        return condition -&gt; function -&gt; argument -&gt; 
            condition.test(argument) ? function.apply(argument) : null;
    }

    static &lt;T, R&gt; Function&lt;T, R&gt; decorate(
            Predicate&lt;T&gt; condition, 
            Function&lt;T, R&gt; function) {
        return Provided.&lt;T, R&gt;create().apply(condition).apply(function);
    }
}
<!-- htmlmin:ignore --></div>

<p>
	Here the <span class="code">Before</span> interface extends the <span class="code">Function</span> interface, so the first thing to highlight is that <span class="code">Before</span> is a function. Then, analyzing the (quite scary) generic type parameters of the function being extended, we see that <span class="code">Before</span> is actually a <em><a href="https://en.wikipedia.org/wiki/Currying" target="_blank">currified function</a></em> that accepts a <span class="code">Consumer&lt;T&gt;</span> and a <span class="code">Function&lt;T, R&gt;</span> as its arguments and returns a <span class="code">Function&lt;T, R&gt;</span> as its result.
</p>
<p>
	The <span class="code">create</span> factory method returns an instance of the <span class="code">Before</span> functional interface, which is a function that accepts a consumer named <span class="code">before</span> and a function named <span class="code">function</span> as its arguments and returns a function as its result. This result function accepts an argument named <span class="code">argument</span>, which is first passed to the <span class="code">before</span> consumer and then passed to the <span class="code">function</span> function. Finally, the value returned by <span class="code">function</span> is returned.
</p>
<p>
	As only function application is being used within <span class="code">Before</span>'s implementation, we can safely affirm that, according to our definition, <span class="code">Before</span> is a combinator (<span class="code">Consumer</span> can be considered as a special kind of function).
</p>
<p>
	The <span class="code">decorate</span> helper method invokes the <span class="code">create</span> factory method and <em>binds</em> the <span class="code">before</span> and <span class="code">function</span> arguments to the returned <span class="code">Before</span> combinator. This process is also called <em><a href="https://en.wikipedia.org/wiki/Partial_application" target="_blank">partial application</a></em>, and in this case it produces a function with the same generic type parameters as the <span class="code">function</span> argument. In other words, we are <em>decorating</em> the <span class="code">function</span> function by means of the <span class="code">Before</span> combinator.
</p>
<p>
	Let's better see an example:
</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
class BeforeExample {

    void demo() {
        System.out.println("----------------------------------");
        System.out.println("Starting BEFORE combinator demo...");
        System.out.println("----------------------------------");

        Function&lt;BigDecimal, String&gt; addTax = this::addTax;

        Consumer&lt;BigDecimal&gt; before = this::before;

        Function&lt;BigDecimal, String&gt; addTaxDecorated =
                Before.decorate(before, addTax);

        BigDecimal argument = new BigDecimal("100");
        String result = addTaxDecorated.apply(argument);

        System.out.println("Done - Result is " + result);
        System.out.println();
    }

    private void before(BigDecimal argument) {
        System.out.println("BEFORE: Argument is " + argument);
    }

    private String addTax(BigDecimal amount) {
        System.out.println("Adding heavy taxes to poor citizen...");
        return "$" + amount.multiply(new BigDecimal("1.22"));
    }
}
<!-- htmlmin:ignore --></div>

<p>
    This example shows how to use the <span class="code">Before</span> combinator. We first declare the <span class="code">addTax</span> function and the <span class="code">before</span> consumer, which point to the <span class="code">addTax</span> and <span class="code">before</span> methods, respectively. Then we use <span class="code">Before.decorate</span> to create a <em>decorated function</em>, which is the <span class="code">addTaxDecorated</span> function. After executing this decorated function with a value of <span class="code">100</span>, we get the following output: 
</p>

<div hljs hljs-no-escape hljs-language="accesslog"><!-- htmlmin:ignore -->
----------------------------------
Starting BEFORE combinator demo...
----------------------------------
BEFORE: Argument is 100
Adding heavy taxes to poor citizen...
Done - Result is $122.00
<!-- htmlmin:ignore --></div>

<p>
    Here we see how the <span class="code">before</span> consumer was executed actually <em>before</em> the <span class="code">addTax</span> function. In fact, this combinator is very useful to execute some code before any given function: just decorate one or more functions with one consumer, and you'll get decorated functions that can be safely used as if they were the original functions.
</p>
<p>
     The typical usage is to log the arguments, but you can do anything you want, with one caveat: if the consumer throws a <span class="code">RuntimeException</span>, the original function won't be executed. Throwing an exception from the consumer is not forbidden, but it's discouraged, as this is not the intended use of this combinator. If you want to throw an exception based on some condition on the arguments, you'd better use the <span class="code">Provided</span> combinator, which is introduced below.
</p>

<div class="separator spacing">&#10022; &#10022; &#10022;</div>


<h3><em>After</em></h3>

<p> 
    The <span class="code">After</span> combinator is very similar to the <span class="code">Before</span> combinator. Differences are:
</p>

<ul>
    <li>The given consumer is executed after the given function</li>

    <li>The consumer receives both the argument and the result of the function</li>
</ul>

<p>
     Here's the code:
</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
@FunctionalInterface
public interface After&lt;T, R&gt;
        extends Function&lt;Function&lt;T, R&gt;,
                Function&lt;BiConsumer&lt;T, R&gt;,
                Function&lt;T, R&gt;&gt;&gt; {

    static &lt;T, R&gt; After&lt;T, R&gt; create() {
        return function -&gt; after -&gt; argument -&gt; {
            R result = function.apply(argument);
            after.accept(argument, result);
            return result;
        };
    }

    static &lt;T, R&gt; Function&lt;T, R&gt; decorate(
            Function&lt;T, R&gt; function, 
            BiConsumer&lt;T, R&gt; after) {
        return After.&lt;T, R&gt;create().apply(function).apply(after);
    }
}
<!-- htmlmin:ignore --></div>

<p>
    Similar considerations as with the <span class="code">Before</span> combinator apply here: 
</p>

<ul>
    <li>The <span class="code">After</span> combinator is also a <em>currified function</em>, though in this case it accepts a <span class="code">Function&lt;T, R&gt;</span> and a <span class="code">BiConsumer&lt;T, R&gt;</span> as its arguments</li>

    <li>It also returns a <span class="code">Function&lt;T, R&gt;</span> as its result</li>

    <li>The <span class="code">create</span> factory method also returns a fresh new instance of the <span class="code">After</span> combinator</li>

    <li>The <span class="code">decorate</span> helper method also uses <em>partial function application</em> to decorate the given function</li>
</ul>

<p>
    The key difference lies in the <span class="code">create</span> method: we first execute the function named <span class="code">function</span> (passing in the argument named <span class="code">argument</span>) and store the result of the execution in the <span class="code">result</span> variable. Then, we pass both <span class="code">argument</span> and <span class="code">result</span> to the <span class="code">after</span> biconsumer. Finally, we return the <span class="code">result</span> variable.
</p>

<p>
    Here's an example:
</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
class AfterExample {

    void demo() {
        System.out.println("---------------------------------");
        System.out.println("Starting AFTER combinator demo...");
        System.out.println("---------------------------------");

        Function&lt;BigDecimal, String&gt; addTaxDecorated =
                After.decorate(this::addTax, this::after);

        String result = addTaxDecorated.apply(new BigDecimal("1000"));

        System.out.println("Done - Result is " + result);
        System.out.println();
    }

    private String addTax(BigDecimal amount) {
        System.out.println("Adding heavy taxes to poor citizen...");
        return "$" + amount.multiply(new BigDecimal("1.22"));
    }

    private void after(BigDecimal argument, String result) {
        System.out.println("AFTER: Argument is " + argument + ", Result is " + result);
    }
}
<!-- htmlmin:ignore --></div>

<p>
    I've inlined some variables to make the code shorter. Here's the output:
</p>

<div hljs hljs-no-escape hljs-language="accesslog"><!-- htmlmin:ignore -->
---------------------------------
Starting AFTER combinator demo...
---------------------------------
Adding heavy taxes to poor citizen...
AFTER: Argument was 1000, Result is $1220.00
Done - Result is $1220.00
<!-- htmlmin:ignore --></div>

<p>
    This output shows that the <span class="code">this::after</span> biconsumer was executed actually <em>after</em> the <span class="code">this::addTax</span> function. This combinator comes in handy for auditing purposes, i.e. if you need to store the arguments and the result of some crucial method's execution, along with any contextual information, such as the date and time, logged user, etc.
</p>

<div class="separator spacing">&#10022; &#10022; &#10022;</div>


<h3><em>Around</em></h3>

<p>
    The <span class="code">Around</span> combinator is somewhat different to the previous ones. It expects the function to be wrapped and the wrapper itself, which receives a callback to the original function. This callback, when executed, triggers the execution of the actual function. Here's the code:
</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
@FunctionalInterface
public interface Around&lt;T, R&gt;
        extends Function&lt;Function&lt;T, R&gt;,
                Function&lt;BiConsumer&lt;Around.Executable&lt;R&gt;, T&gt;,
                Function&lt;T, R&gt;&gt;&gt; {

    @FunctionalInterface
    interface Executable&lt;R&gt; {
        R execute();
    }

    static &lt;T, R&gt; Around&lt;T, R&gt; create() {
        return function -&gt; around -&gt; argument -&gt; {
            @SuppressWarnings("unchecked")
            R[] result = (R[]) new Object[1];
            Executable&lt;R&gt; callback = () -> result[0] = function.apply(argument);
            around.accept(callback, argument);
            return result[0];
        };
    }

    static &lt;T, R&gt; Function&lt;T, R&gt; decorate(
            Function&lt;T, R&gt; function, 
            BiConsumer&lt;Executable&lt;R&gt;, T&gt; around) {
        return Around.&lt;T, R&gt;create().apply(function).apply(around);
    }
}
<!-- htmlmin:ignore --></div>

<p>
    Some key considerations:
</p>

<ul>
    <li>We've defined the <span class="code">Around.Executable</span> functional interface, which will be used as the callback to the actual function we are decorating (we could have used <span class="code">Supplier</span> instead, whose single abstract method <span class="code">get</span> is equivalent to <span class="code">Around.Executable</span>'s <span class="code">execute</span> method, but it didn't feel right to use it as a callback, mainly because it's supposed to be used as a factory)</li>

    <li>The <span class="code">Around</span> combinator is a <em>currified function</em> that accepts a <span class="code">Function&lt;T, R&gt;</span> and a <span class="code">BiConsumer&lt;Around.Executable&lt;R&gt;, T&gt;</span> as its arguments and returns a <span class="code">Function&lt;T, R&gt;</span> as its result</li>

    <li>The <span class="code">create</span> factory method returns a fresh new instance of the <span class="code">Around</span> combinator</li>

    <li>The function <span class="code">function</span> is executed within a callback of type <span class="code">Around.Executable&lt;R&gt;</span>, and this callback is passed as an argument to the <span class="code">around</span> biconsumer</li>

    <li>The result of the execution of the function <span class="code">function</span> is stored in an array of one element, because local variables can't be modified within a lambda expression (the elements of an array can be modified, though, which makes the use of this hack a common practice, even in JDK's code, e.g. see the <span class="code">Collectors.boxSupplier</span> private method and its usages)</li>

    <li>The <span class="code">around</span> biconsumer also accepts the argument of the original function as its second argument</li>

    <li>There's no way to modify neither the argument nor the result of the original function from within the <span class="code">around</span> decorator</li>

    <li>The <span class="code">decorate</span> helper method uses <em>partial function application</em> to decorate the given function</li>
</ul>

<p>
    Let's see an example now. Pay attention to the <span class="code">around</span> method, which is our decorator:
</p>

<div hljs hljs-no-escape hljs-language="java"><!-- htmlmin:ignore -->
class AroundExample {

    void demo() {
        System.out.println("----------------------------------");
        System.out.println("Starting AROUND combinator demo...");
        System.out.println("----------------------------------");

        Function&lt;BigDecimal, String&gt; addTaxDecorated = 
                Around.decorate(this::addTax, this::around);

        String result = addTaxDecorated.apply(new BigDecimal("10000"));

        System.out.println("Done - Result is " + result);
        System.out.println();
    }
 
    private String addTax(BigDecimal amount) {
        System.out.println("Adding heavy taxes to poor citizen...");
        return "$" + amount.multiply(new BigDecimal("1.22"));
    }

    private void around(Around.Executable&lt;String&gt; function, BigDecimal argument) {
        System.out.println("BEFORE: Amount is " + argument);
        String result = function.execute(); // function executed here!
        System.out.println("AFTER: Result is " + result);
    }
}
<!-- htmlmin:ignore --></div>

<p>
    I've inlined some variables in this example as well. Here's the output:
</p>

<div hljs hljs-no-escape hljs-language="accesslog"><!-- htmlmin:ignore -->
----------------------------------
Starting AROUND combinator demo...
----------------------------------
BEFORE: Argument is 10000
Adding heavy taxes to poor citizen...
AFTER: Result is $12200.00
Done - Result is $12200.00
<!-- htmlmin:ignore --></div>

<p> 
    This output shows that the <span class="code">this::addTax</span> function was executed <em>in the middle</em> of the <span class="code">this::around</span> biconsumer, exactly when the <span class="code">function.execute()</span> method was invoked. This is a very useful combinator. You can use it to decorate any function with the code you want, both before and after the function's execution. For example, you could surround the function's execution with a <span class="code">try/catch</span> block and handle any thrown exception as you wish, or you could measure how long it takes to execute the function, or you could even wrap the function's execution within a database transaction, taking care of commit/rollback behavior, etc.
</p>

<div class="separator spacing">&#10022; &#10022; &#10022;</div>

<p>
    There are other useful combinators I'd like to write about, but I think this newsletter has become long enough by now. In the next parts, I will not only introduce them, but also show how combinators can be used together to create complex control flows, yet keeping the code clean and readable.
</p>

<p>
    For your convenience, I've created a <a href="https://github.com/boundsofjava/boj-newsletter-003" target="_blank">GitHub repo</a> with all the code shown here. If you want to discuss something or point some bug you've found, please <a href="//boundsofjava.com/about" target="_blank">contact me</a>.
</p>

<p>
	Regards,<br />
	fps.-
</p>

<div class="separator spacing">&#10022; &#10022; &#10022;</div>
