<div class="clearfix content-heading">
	<img class="pull-left img-left" data-ng-src="images/fps.jpg" alt="Federico Peralta Schaffner"></img>

	<h1>Federico Peralta Schaffner</h1>

	<p>I'm this website's creator and the author of <a data-ng-href="/newsletter">The Bounds of Java Newsletter</a>.</p>

	<p>I'm also fairly active on <a target="_blank" href="http://stackoverflow.com">Stackoverflow</a>, especially in the <span style="font-family: monospace; ">java</span> and <span style="font-family: monospace; ">java-8</span> tags. Please check my <a target="_blank" href="http://stackoverflow.com/users/1876620/federico-peralta-schaffner?tab=profile">profile there</a> if you're curious.</p>

	<p>I'll be glad to receive your comments and suggestions. Please contact me and I'll get back to you as soon as possible:</p>

	<div class="cleared container">
		<hr class="spacing" />
		<div class="row">
			<div class="col-xs-2 text-right"><span class="glyphicon glyphicon-envelope"></span></div>
			<div class="col-xs-10 text-left"><a href="mailto:fps@boundsofjava.com">fps@boundsofjava.com</a></div>
		</div>
		<div class="row">
			<div class="col-xs-2 text-right"><span class="glyphicon glyphicon-earphone"></span></div>
			<div class="col-xs-10 text-left">+598 95434366</div>
		</div>
		<div class="row">
			<div class="col-xs-2 text-right"><span class="glyphicon glyphicon-comment"></span></div>
			<div class="col-xs-10 text-left">federico.peralta.schaffner (Skype)</div>
		</div>
		<hr class="spacing" />
	</div>

	<p>I've been programming for most of my life and currently work as a software architect and consultant. I'm also an entrepreneur, a writer and a father. I got married to Cecilia in 2005 and we have three kids: Antonio, Ernesto and Mercedes. We live in <a target="_blank" href="http://www.google.com/maps/@-32.5337451,-58.0558057,7z">Uruguay</a>, where green grass covers all the land and where there are more than four cows per human being. In 2013, we moved to a house near the beach, thirty minutes away from Uruguay's capital-city, <a target="_blank" href="http://www.google.com/maps/@-34.8196216,-56.5103936,10z">Montevideo</a>.</p>

	<p>I have two passions in my life: literature and software. On the one hand, I've written a few stories and have started two novels (in Spanish, which is my native language). On the other hand, I'm fully proficient in English and have worked as a developer and as a software architect, but have never written a single word about it. The Bounds of Java is meant to fix this.</p>
</div>
<hr class="spacing" />

<div class="clearfix content-heading">
	<img class="pull-left img-left" data-ng-src="images/the-beginning.jpg" alt="The very beginnings"></img>

	<h2>The very beginnings</h2>

	<p>I was born in 1979, two years before the IBM PC was introduced. For many years, my parents couldn't afford one. However, I was fascinated with those big, dust-collecting machines that a few friends had in their houses.</p>

	<p>One day at school, when I was ten years-old, a man and a woman appeared in the classroom. They told us they had opened a computing academy in the neighbourhood and handed us cards with their phone number. It was 1990...</p>

	<p>I started with GW Basic and quickly switched to Turbo Pascal. Although I had computing lessons only once a week and I didn't have a computer at home, I loved programming from the very beginning. I remember I used a notebook (I mean the ones made of paper) to write my first programs. Once I had written the code in the notebook, I had to wait days until I could type it into a real computer in the academy.</p>
</div>
<hr class="spacing" />

<div class="clearfix content-heading">
	<img class="pull-left img-left" data-ng-src="images/80386DX-33.jpg" alt="Intel 80386DX-33"></img>

	<h2>My first PC</h2>

	<p>It was five years later when I finally had my own PC. For my 15th birthday, my father and I went to Montevideo's downtown. After some bargaining, we bought an 80386DX PC clone. I don't remember the full specs, but I'm certain about the processor (33 MHz), the video card (standard VGA 640x480) and the monochrome monitor. It also had a 5.25'' diskette drive, very little extended memory and a ridiculously noisy hard-disk drive.</p>

	<p>By that time (1995), I had already taken courses about MS-DOS, dBase III, C and Clipper. I was starting to dig into Visual Basic, when my professor at the academy showed me a book which had a chapter about a quite strage, disruptive topic: object oriented programming. <em>&ldquo;This is the future&rdquo;</em>, he told me. The book was about Clipper and was written by five guys from Spain who were known as the <em>Eidos Group</em>. I was so intrigued with all that object oriented stuff! One of my first reactions was: <em>&ldquo;Look at those fancy functions inside the records, we'd need to move our code in there&rdquo;</em>. Of course, that was easy to say but quite hard to do...</p>
</div>
<hr class="spacing" />

<div class="clearfix content-heading">
	<img class="pull-left img-left" data-ng-src="images/suit-and-tie.jpg" alt="Federico Peralta Schaffner"></img>

	<h2>The real world</h2>

	<p>Five or six years later, a couple of friends and I developed our first system in Java for a real client. And a couple of years after that, I applied for a .NET position at a local company, where I worked for 1-2 years. Then, I returned to Java with my former professor at the academy, this time to work as a consultant, and we developed a bunch of JSF applications for the government. This was for 1-2 years as well, and it was the time where I learned the most about object-oriented design, software patterns, architecture, SQL, relational databases, front technologies and software in general. Although it felt amazing to learn something new almost every day, my job came to an abrupt end when the government started to delay payments for our services.</p>

	<p>My following job was at a global company where I refined my knowledge of C, but learned almost no new technical stuff, mainly because they used their own proprietary technologies. I traveled a lot, though, and learned many things about global organizations, business and working with clients. It wasn't a bad job, but I missed architecture, software design and patterns and object oriented programming. In other words, I missed Java.</p>

	<p>So, after 3-4 comfortable years, I decided it was time to return to Java once again. And the company next-door was just hiring senior developers to open their brand new development division in Uruguay... At the beginning, we were only five, and 4-5 years later, we were about eighty. The company had offices in other countries, totaling about eight hundred developers. I've been working as an architect since 2012, and I've learned a lot of new stuff, from functional programming to cloud computing, NoSQL databases, distributed programming, big data, reactive programming and Java 8, to name a few.</p>
</div>
<hr class="spacing" />

<div class="clearfix content-heading">
	<img class="pull-left img-left" data-ng-src="images/boj.png" alt="The Bounds of Java"></img>

	<h1>The Bounds of Java</h1>

	<p>When I look over all the years since I wrote my first program, I notice that I've never lost the passion for learning, and that since I discovered Java in 1999, it has always been my reference language. Actually, it would be fair to say that I'm passionate about learning Java.</p>

	<p>One shiny day, when I was enjoying the shade of my backyard's pepper tree, I realized that I had been learning software for more than twenty five years, and I ventured to think that maybe it was time to start sharing what I had been learning for most of my life. Now, my passion is not only to learn about software, but also to spread the word about Java, software architecture and patterns, object-oriented design principles, functional programming techniques and software in general. Writing these newsletters and blog posts takes me back to my childhood, when I stood still staring at those dusty IBM PCs of my friends from school.</p>
</div>
