<div class="paragraphs">
	<div class="clearfix content-heading space-after">
		<img class="pull-left img-left" data-ng-src="images/fps.jpg" alt="Federico Peralta Schaffner"></img>
		<h3>Federico Peralta Schaffner</h3>

		<p>I'm this website's creator and the author of <a data-ng-href="/newsletter">The Bounds of Java Newsletter</a>.</p>

		<p>I'm also an entrepreneur, a writer and a father. I got married to Cecilia in 2005 and we have three kids: Antonio, Ernesto and Mercedes. We live in <a target="_blank" href="http://www.google.com/maps/@-32.5337451,-58.0558057,7z">Uruguay</a>, where green grass covers all the land and where there are more than four cows per human being. In 2013, we moved to a house near the beach, thirty minutes away from Uruguay's capital-city, <a target="_blank" href="http://www.google.com/maps/@-34.8196216,-56.5103936,10z">Montevideo</a>.</p>

		<p>I have two passions in my life: literature and software. On the one hand, I've written a few stories and have started two novels. On the other hand, I have worked as a developer and as a software architect, but have never written anything about it. This site is meant to fix that.</p>
	</div>

	<div class="clearfix content-heading space-after">
		<img class="pull-left img-left" data-ng-src="images/the-beginning.jpg" alt="The very beginnings"></img>
		<h4>The very beginnings</h4>

		<p>I was born in 1979, two years before the IBM PC was introduced. For many years, my parents couldn't afford one. However, I was fascinated with that big, dust-collecting machine that only one friend from school had in his house.</p>

		<p>One day at school, when I was ten years-old, a man and a woman appeared in the classroom. They told us they had opened a computing academy in the neighbourhood and handed us cards with their phone number. It was 1990...</p>

		<p>I started with GW Basic and quickly switched to Turbo Pascal. Although I had computing lessons only once a week and I didn't have a computer at home, I loved programming from the very beginning. I remember I used a notebook (I mean the ones made of paper) to write my first programs. Once I had written the code in the notebook, I had to wait days until I could type it into a real computer in the academy.</p>
	</div>

	<div class="clearfix content-heading space-after">
		<img class="pull-left img-left" data-ng-src="images/80386DX-33.jpg" alt="Intel 80386DX-33"></img>
		<h4>My first PC</h4>

		<p>It was five years later when I finally had my own PC. For my 15th birthday, my father and I went to Montevideo's downtown. After some bargaining, we bought an 80386DX PC clone. I don't remember the full specs, but I'm certain about the processor (33 MHz), the video card (standard VGA 640x480) and the monochrome monitor. It also had a 5.25'' diskette drive, very little extended memory and a ridiculously noisy hard-disk drive.</p>

		<p>By that time (1995), I had already taken courses about MS-DOS, dBase III, C and Clipper. I was starting to dig into Visual Basic, when my professor at the academy showed me a book which had a chapter about a quite strage, disruptive topic: object oriented programming. 'This is the future', he told me. The book was about Clipper and was written by five guys from Spain who were known as the 'Eidos Group'. I was so intrigued with all that object oriented stuff! One of my first reactions was: 'Look at those fancy functions inside the records, we'd need to move our code in there'. Of course, that was easy to say but quite hard to do...</p>
	</div>

	<div class="clearfix content-heading space-after">
		<img class="pull-left img-left" data-ng-src="images/suit-and-tie.jpg" alt="Federico Peralta Schaffner"></img>
		<h4>The real world</h4>

		<p>Five or six years later, a couple of friends and I developed our first system in Java for a real client. And a couple of years after that, I applied for a .NET position at a local company, where I worked for 1-2 years. Then, I returned to Java with my former professor at the academy, this time to work as a consultant, and we developed a bunch of JSF applications for the government. This was for 1-2 years as well, and it was the time where I learned the most about object-oriented design, software patterns, architecture, SQL, relational databases, front technologies and software in general. Although it felt amazing to learn something new almost every day, my job came to an abrupt end when the government started to delay payments for our services.</p>

		<p>My following job was at a global company where I refined my knowledge of C, but learned almost no new technical stuff, mainly because they used their own proprietary technologies. I traveled a lot, though, and learned many things about organizations, business and working with clients. It wasn't a bad job, but I missed architecture, software patterns and object oriented programming. In a word, Java.</p>

		<p>So, after 3-4 comfortable years, I decided it was time to return to Java once again. And the company next-door was just looking for senior candidates to open their brand new development division in Uruguay... At the beginning, we were only five, and 4-5 years later, we were about eighty. The company had offices in other countries, totaling more than five hundred developers. I've been working as an architect since 2012, and I've learned a lot of new stuff, from functional programming to cloud computing, NoSQL databases, distributed programming, big data, reactive programming and Java 8, to name a few.</p>
	</div>

	<div class="clearfix content-heading space-after">
		<img class="pull-left img-left" data-ng-src="images/boj.png" alt="The Bounds of Java"></img>
		<h3>The Bounds of Java</h3>

		<p>When I look over all the years from when I wrote my first program in GW Basic, I notice that I've never lost the passion for learning, and that since I discovered Java in 1999, it has always been my reference language. Actually, it would be fair to say that I'm passionate about learning Java.</p>

		<p>On a sunny day of early 2015, I realized I had been learning software for twenty six years, and that it had been sixteen years since I had first heard of Java. So I thought that maybe it was time to start sharing what I had been learning for most of my life. Now, my passion is not only to learn about software, but also to share what I've learned with the software community. And this is exactly what 'The Bounds of Java' is all about. I really enjoy working on this website, as much as I enjoyed staring at my childhood friend's IBM PC.</p>
	</div>
</div>
