<div data-ng-if="noEntries" class="content-heading">
	<h1>No entries yet</h1>

	<p><br /><small>The Bounds of Java Blog is still under construction.</small></p>
</div>

<div data-ng-if="!noEntries">
	<div data-infinite-scroll="loadPost()" data-infinite-scroll-distance="1">
		<div data-ng-repeat="post in posts | orderBy:'-date'">

			<hr class="from-left spacing" data-ng-if="!$first" />
			<div class="content-heading">

				<h1 data-ng-bind-html="post.title"></h1>

				<p class="small newsletter-date-author"><small><br />Posted on {{post.prettyDate}} by <a data-ng-href="{{post.authorUrl}}" target="_blank">{{post.author}}</a></small></p>

				<small data-ng-bind-html="post.summary"></small>

				<div class="separator spacing">&#10022; &#10022; &#10022;</div>

			    <div data-ng-include="'views/blog/' + post.id + '.html'" data-ng-cloak></div>
			    
				<div class="separator spacing">&#10022; &#10022; &#10022;</div>

				<p class="small newsletter-date-author"><small>Posted on {{post.prettyDate}} by <a data-ng-href="{{post.authorUrl}}" target="_blank">{{post.author}}</a></small></p>

			    <a data-ng-href="{{postUrl(post.id)}}#disqus_thread" data-disqus-identifier="{{post.id}}" data-ng-show="visibleCommentsPostId === ''" data-ng-click="$event.preventDefault(); showCommentsWidget(post.id); ">Show comments</a>
			    
			    <span data-disqus-identifier="{{post.id}}" data-ng-show="visibleCommentsPostId !== post.id && visibleCommentsPostId !== ''" class="disqus-comment-count disabled-link disabled">Show comments</span>

			    <div data-ng-show="visibleCommentsPostId === post.id">
				    <div><a href="" data-ng-click="hideCommentsWidget()">Hide comments</a></div>

				    <dir-disqus id="{{post.id}}" data-ng-if="visibleCommentsPostId === post.id" data-disqus-shortname="boundsofjava" data-disqus-identifier="{{post.id}}" data-disqus-url="{{postUrl(post.id)}}" data-disqus-title="{{post.disqusTitle}}" data-disqus-disable-mobile="false" data-disqus-config-language="en"></dir-disqus>

				    <div><a href="" data-ng-click="hideCommentsWidget()">Hide comments</a></div>
				</div>
			</div>

		</div>
	</div>
</div>
