<div data-infinite-scroll="loadPost()" data-infinite-scroll-distance="1">
  <div data-ng-repeat="post in posts | orderBy:'-date'">

	<div class="paragraphs">
  		<div class="row">
		    <hr class="from-left spacing" data-ng-if="!$first" />
    		<div>
      			<div class="content-heading">
      				<h1>{{post.title}}</h1>
      				<h3>{{post.prettyDate}}</h3>
      			</div>
			    <br />

			    <div data-ng-include="'views/blog/' + post.id + '.html'"></div>
			    <br />

			    <div><small>Posted by: <strong><a data-ng-href="{{post.authorUrl}}" target="_blank">{{post.author}}</a></strong></small></div>
			    <br />

			    <a href="" data-ng-show="visibleCommentsPostId === ''" data-ng-click="showCommentsWidget('{{post.id}}')">Show comments</a>
			    
			    <span data-ng-show="visibleCommentsPostId !== post.id && visibleCommentsPostId !== ''" class="disabled-link disabled">Show comments</span>

			    <div data-ng-show="visibleCommentsPostId === post.id">
				    <div><a href="" data-ng-click="hideCommentsWidget()">Hide comments</a></div>

				    <dir-disqus id="{{post.id}}" data-ng-if="visibleCommentsPostId === post.id" data-disqus-shortname="boundsofjava" data-disqus-identifier="{{post.id}}" data-disqus-url="{{postUrl(post.id)}}" data-disqus-title="{{post.title}}" data-disqus-disable-mobile="false" data-disqus-config-language="en"></dir-disqus>

				    <div><a href="" data-ng-click="hideCommentsWidget()">Hide comments</a></div>
				</div>
		    </div>
		</div>
	</div>

  </div>
</div>
