<div class="slider-wrapper">

  <div class="content-heading" data-ng-repeat="slide in slider.slides" data-ng-hide="!isCurrentSlideIndex($index)">
    <h2>{{slide.title}}</h2>
  </div>

  <blockquote class="pull-right" data-ng-repeat="slide in slider.slides" class="slide-description" data-ng-hide="!isCurrentSlideIndex($index)">

    <div class="container slider pull-left">
      <img class="slide slide-animation non-draggable-image" data-ng-swipe-right="prevSlide()" data-ng-swipe-left="nextSlide()" data-ng-src="{{slide.image}}"></img>

      <div class="arrow prev" data-ng-click="prevSlide()"></div>
      <div class="arrow next" data-ng-click="nextSlide()"></div>

      <div class="nav">
        <div class="wrapper">
          <ul class="dots">
            <li data-ng-repeat="slide in slider.slides" class="dot">
              <a data-ng-class="{'active': isCurrentSlideIndex($index)}" data-ng-click="setCurrentSlideIndex($index)"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="spacing" />

    <p><em>{{slide.quote}}</em></p>
    <small><cite>{{slide.author}}</cite></small>

    <hr class="spacing" />

  </blockquote>

</div>
