<div class="row hidden-xs slider-wrapper spacing">
  <div class="col-sm-12" data-ng-repeat="slide in slider.slides" data-ng-hide="!isCurrentSlideIndex($index)">

    <div class="content-heading">
      <h1 class="slide-title">{{slide.title}}</h1>
    </div>
    
    <blockquote class="pull-right">

      <div class="container slider pull-left">
        <img class="slide slide-animation non-draggable-image" data-ng-swipe-right="prevSlide()" data-ng-swipe-left="nextSlide()" data-ng-src="{{slide.image}}"></img>

        <div class="arrow prev" data-ng-click="prevSlide()"></div>
        <div class="arrow next" data-ng-click="nextSlide()"></div>

        <div class="nav">
          <div class="wrapper">
            <ul class="dots">
              <li data-ng-repeat="slide in slider.slides" class="dot">
                <a data-ng-class="{'active': isCurrentSlideIndex($index)}" data-ng-click="setCurrentSlideIndex($index)"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="from-right little-spacing" />
      <p><em>{{slide.quote}}</em></p>
      <small><cite>{{slide.author}}</cite></small>
      <hr class="from-right little-spacing" />

    </blockquote>
  </div>
</div>

<div vertilize-container class="row most-recent-wrapper spacing">

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/newsletter/{{mostRecentNewsletter.post}}" class="list-group-item list-group-item-odd">
        <h2 class="title">Newsletter</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">
          <span class="badge pull-right">POST #{{mostRecentNewsletter.post}}</span>
          {{mostRecentNewsletter.title}}
        </h3>
        <p class="list-group-item-text">
          {{mostRecentNewsletter.summary}}
        </p>
        <p>
          <small class="pull-right">{{mostRecentNewsletter.prettyDate}}</small>
        </p>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/blog" class="list-group-item list-group-item-odd">
        <h2 class="title">Blog</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">
          {{mostRecentBlog.title}}
        </h3>
        <p class="list-group-item-text">
          {{mostRecentBlog.summary}}
        </p>
        <p>
          <span class="small pull-right">{{mostRecentBlog.prettyDate}}</span>
        </p>
      </a>
    </div>
  </div>

</div>
