<div class="paragraphs">
  <div class="row">
	  <div class="content-heading">
	  	<h1>Services</h1>
	  	<p>Whether you belong to a vast organization or work as an independent software professional, at The Bounds of Java we offer the exact service for you, no matter your seniority.</p>
	  	<p>Perhaps you are looking for a job or want to just peek the labor market, here you will find some tips about interview questions, career opportunities, professional growth, trending technologies and other useful stuff a software professional should be aware of.</p>
	  </div>
  </div>
</div>
