<div class="content-heading">
  	<h1>Services</h1>
  	<p>Should you belong to a vast organization or work as an independent software professional, at The Bounds of Java we'll be glad to be of help, no matter your level of seniority.</p>
  	<p>Perhaps you are looking for a job or want to just peek the labor market, here you will also find useful tips about interview questions, career opportunities, professional growth, trending technologies and several tricks a software professional should be aware of.</p>
</div>

<div vertilize-container class="row spacing">

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/jobs" class="list-group-item list-group-item-odd">
        <h2 class="title">Jobs</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Tips on success</h3>
        <p class="list-group-item-text">You know Java and want to get paid for it. Learn what the software industry requires from a professional and what professionals do require from software companies.</p>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/training" class="list-group-item list-group-item-odd">
        <h2 class="title">Training</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Improve your skills</h3>
        <p class="list-group-item-text">Take the skills you already have to the maximum and acquire new ones. The most valued professionals are versatile.</p>
      </a>
    </div>
  </div>

</div>

<div vertilize-container class="row spacing">

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/courses" class="list-group-item list-group-item-odd">
        <h2 class="title">Courses</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Valuable yet affordable</h3>
        <p class="list-group-item-text">Navigate our list of courses and find the one that suits you best. From very specific tips to broad lessons with excercises, it's always a good time to learn something new.</p>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/consultancy" class="list-group-item list-group-item-odd">
        <h2 class="title">Consultancy</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Let us help you</h3>
        <p class="list-group-item-text">Check the list of technologies and frameworks we excel at. Whether you are facing the most challenging refactor or are planning to introduce a few optimizations, we'd love to give you a hand.</p>
      </a>
    </div>
  </div>

</div>
