<div class="paragraphs">
  <div class="clearfix content-heading">
    <img class="pull-left img-left" data-ng-src="images/services.jpg" alt="Services"></img>
  	<h1>Services</h1>
  	<p>Should you belong to a vast organization or work as an independent software professional, at The Bounds of Java we'll be glad to be of help, no matter your level of seniority.</p>
  	<p>Perhaps you are looking for a job or want to just peek the labor market, here you will also find useful tips about interview questions, career opportunities, professional growth, trending technologies and several tricks a software professional should be aware of.</p>
  </div>
</div>

<div vertilize-container class="double-spacing">

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/jobs" class="list-group-item list-group-item-odd">
        <h2 class="title">Jobs</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Tips on success</h3>
        <p class="list-group-item-text">You know Java and want to get paid for it. Learn what the software industry requires from a professional and what professionals require from software companies.</p>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/training" class="list-group-item list-group-item-odd">
        <h2 class="title">Training</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Improve your skills</h3>
        <p class="list-group-item-text">Take the skills you already have to the maximum and acquire new ones. The most valued professionals are versatile and efficient.</p>
      </a>
    </div>
  </div>

</div>

<div vertilize-container class="spacing">

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/courses" class="list-group-item list-group-item-odd">
        <h2 class="title">Courses</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Learn something new</h3>
        <p class="list-group-item-text">Navigate our list of courses and find the one that suits you best. From very specific tips to lessons covering many topics with videos and excercises, it's always a good time to gain knowledge.</p>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="list-group">
      <a vertilize data-ng-href="/services/consultancy" class="list-group-item list-group-item-odd">
        <h2 class="title">Consultancy</h2>
        <hr class="from-left little-spacing" />
        <h3 class="list-group-item-heading">Let us help you</h3>
        <p class="list-group-item-text">Check the list of technologies and frameworks we excel at. Whether you are facing the most challenging development from scratch or are planning to introduce a few refactors, we are ready to give you a hand.</p>
      </a>
    </div>
  </div>

</div>

<div class="clearfix double-spacing"></div>

<div class="paragraphs">
  <div class="content-heading">
    <h2>Meet the team</h2>
    <ul class="media-list">
      <li class="media">
        <img class="media-object staff-img" data-ng-src="images/fps4.png" alt="Federico Peralta Schaffner" />
        <div class="media-body">
          <h4 class="media-heading top-half-spacing">Federico Peralta Schaffner</h4>
          <small>I'm this website's creator and the author of <a data-ng-href="/newsletter" target="_blank">The Bounds of Java Newsletter</a>. I'm an expert in Java 8, software design patterns, functional programming, Spring Framework, Elasticsearch and reactive programming. I've been working as a software developer since 2004. Please visit the <a data-ng-href="/about" target="_blank">About section</a> if you'd like to find more details.</small>
        </div>
      </li>
      <li class="media">
        <img class="media-object staff-img" data-ng-src="images/diego.jpg" alt="Diego Delgado" />
        <div class="media-body">
          <h4 class="media-heading top-half-spacing">Diego Delgado</h4>
          <small>Diego loves superheros and hates long biographies. He's an expert in Java 8, Spring Framework, Cassandra, Couchbase, Hazelcast, Zookeeper and distributed systems. He has worked as a software architect for more than 5 years and owns a bunch of postgraduate degrees, all related to software development and technology.</small>
        </div>
      </li>
    </ul>
  </div>
</div>
