<p>Welcome to the very first issue of The Bounds of Java Newsletter, completely devised and written in the lonely Uruguay, where the southern winds hit the land and make every soul feel that winter is coming.</p>

<div class="img-center-container">
	<img data-ng-src="{{path}}/wind.jpg" alt="Southern winds"></img>
</div>

<p>Winter isn't very impressive here. It never snows and cold is quite bearable, compared to other latitudes. Actually, there's nothing remarkable about the weather in Uruguay. Still, Uruguayans love to talk about it all the time. Every year, when it starts getting cold in May, we say that it either has begun earlier than in previous years, or that it's going to be more intense than ever. Of course, when winter finally arrives, it's just like any other winter.</p>
